<div class="main-block">
  <input type="text" style="text-align: right;" class="keypad-input" [value]="mathExpression | async">
  <div class="keypad-buttons-block">
    <button class="keypad-button" (click)="addCharacter($event)">(</button>
    <button class="keypad-button" (click)="addCharacter($event)">)</button>
    <button class="keypad-button" (click)="addCharacter($event)">%</button>
    <button class="keypad-button">AC</button>
    <button class="keypad-button" value="7" (click)="addCharacter($event)">7</button>
    <button class="keypad-button" value="8" (click)="addCharacter($event)">8</button>
    <button class="keypad-button" value="9" (click)="addCharacter($event)">9</button>
    <button class="keypad-button" (click)="addCharacter($event)">/</button>
    <button class="keypad-button" value="4" (click)="addCharacter($event)">4</button>
    <button class="keypad-button" value="5" (click)="addCharacter($event)">5</button>
    <button class="keypad-button" value="6" (click)="addCharacter($event)">6</button>
    <button class="keypad-button" (click)="addCharacter($event)">*</button>
    <button class="keypad-button" value="1" (click)="addCharacter($event)">1</button>
    <button class="keypad-button" value="2" (click)="addCharacter($event)">2</button>
    <button class="keypad-button" value="3" (click)="addCharacter($event)">3</button>
    <button class="keypad-button" (click)="addCharacter($event)">-</button>
    <button class="keypad-button" value="0" (click)="addCharacter($event)">0</button>
    <button class="keypad-button" (click)="addCharacter($event)">.</button>
    <button class="keypad-button equal-button">=</button>
    <button class="keypad-button" (click)="addCharacter($event)">+</button>
  </div>
</div>
