* {
  box-sizing: border-box;
}

.main-block {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 10% auto;
  border: 1px solid grey;
  border-radius: 3px;
  width: 250px;
}

.math-expression-block {
  font-size: 30px;
  color: #4e5358;
  font-weight: 500;
  height: 50px;
  width: 100%;
  overflow: hidden;
  border: 1px solid grey;
}

.keypad-buttons-block {
  display: flex;
  flex-wrap: wrap;
}

.keypad-button {
  font-weight: 600;
  width: 25%;
  font-size: 20px;
  margin: 0;
  padding: 15px 0;
  border: 1px solid grey;
  background: #dcdcdc;
}

.equal-button {
  background: #92c6fc;
}



